.contacts-list {
  width: 100%;
  margin: 0 0 20px;
  font-size: 13px;

  @media (min-width: $screen-md-min) {
    display: table;
    border-collapse: collapse;
  }

  @media (max-width: $screen-sm-max) {
    display: block;
  }

  thead {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  th {
    display: table-cell;
    padding: 5px 10px;
    border-bottom: 1px solid rgba($gray-700, 0.3);
    background-color: $gray-600;
    color: $white;
    text-align: left;
    vertical-align: bottom;
    font-weight: normal;
  }

  td {
    @media (min-width: $screen-md-min) {
      display: table-cell;
      padding: 10px;
      vertical-align: top;
    }

    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }

  tr {
    display: table-row;
    width: 100%;

    @media (max-width: $screen-sm-max) {
      position: relative;
      display: block;
      margin-bottom: 15px;
      padding: 10px 150px 0 0;
      border-top: solid 1px $gray-200;
    }

    &:nth-child(odd) td {
      @media (min-width: $screen-md-min) {
        background-color: $gray-200;
      }
    }
  }

  .right {
    @media (min-width: $screen-md-min) {
      text-align: right;
    }
  }

  .actions {
    @media (min-width: $screen-md-min) {
      text-align: right;
    }

    @media (max-width: $screen-sm-max) {
      position: absolute;
      top: 15px;
      right: 0;
    }
  }

  span {
    display: none;
    margin-right: 5px;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;

    &::after {
      content: ":";
    }

    @media (max-width: $screen-sm-max) {
      display: inline-block;
    }
  }
}
