form.contacts-form
  h2 Add a Contact
  .form-group
    label.control-label Name:
    input.name.form-control(name="name" type="text")

  .form-group
    label.control-label Phone:
    input.phone.form-control(name="phone" type="number")

  .form-group.form-group--actions
    input.button-cancel.btn.btn-default(type="button" value="Cancel")

    input.button-add.btn.btn-primary(type="submit" value="Save")

  input(name="id_entry" type="hidden" value="0")
