table.contacts-list
  tr.contacts-list__row.contacts-list__row--head
    th.contacts-list__caption ID
    th.contacts-list__caption First name
    th.contacts-list__caption Last name
    th.contacts-list__caption Phone
    th.contacts-list__caption Actions

  tr.contacts-list__row
    th.contacts-list__caption 1
    th.contacts-list__caption Test
    th.contacts-list__caption Test
    th.contacts-list__caption
      a(href="") 12345678
    th.contacts-list__caption
      a(href="") Edit
      a(href="") Delete
